<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
</head>
<body>
    <form action="/cgi-bin/changePassword" method="POST">
        <input type="text" name="userID" placeholder="用户ID"><br>
        <input type="text" name="oldPassword" placeholder="原始密码"><br>
        <input type="password" name="newPassword" placeholder="新设密码"><br>
        <!-- <input type="password" name="newPassword2" placeholder="再输一次"><br> -->
        <input type="submit" value="Submit" />
    </form>
</body>
</html>